<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mad">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".feedback"
            android:exported="true" />
        <activity
            android:name=".agent"
            android:exported="true" />
        <activity
            android:name=".user"
            android:exported="true" />
        //dd55//
        <activity android:name=".Welcome" />
        <activity android:name=".pacakage" />
        <activity android:name=".our_rooms" />
        <activity android:name=".booking" />
        <activity android:name=".Admin_booking" />
        <activity android:name=".AD_vehicle" />
        <activity android:name=".Admin" />
        <activity android:name=".Adminpackage" />
        <activity android:name=".AD_Employee" />
        <activity android:name=".Home" />
        <activity android:name=".Login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>